<div class='footer'>
  <div class="footer-logo">
    <%= image_tag("title_logo_white.png", class:"logo-white") %>
  </div>
  <div class='admin-login'>
    <%= link_to '______',new_admin_session_path, class:"admin-login-link" %>
  </div>
</div>