/* イベント概要 */

.event-show {
  background-color: #FFFEDF;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.event-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 0 15vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 50px;
}

.event-box-img {
  height: 35vh;
  width: 42vw;
  min-height: 400px;
  background-color: #fff;
  object-fit: contain;
  margin-bottom: 20px;
}

.event-edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

.event-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.event-about{
  color: black;
  font-size: 18px;
  margin-bottom: 30px;
}

.event-explain-box {
  font-size: 40px;
  margin: 30px 0px;
  overflow-wrap: anywhere;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-event {
  width: 20%;
  height: 60px;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 14px;
  
}

.event-link{
  display: flex;
  margin-bottom: 30px;
}

.link-btn{
  width: 18vh;
  padding: 1vw;
  justify-content: center;
  margin: 0 10px;
}


.heart-btn {
  font-size: 17px;
  border-radius: 40px;
  width: 18vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.heart-icon {
  margin-right: 5px;
  height: 30px;
  margin: 5px 0;
}

/* /イベント概要 */


/* コメント機能 */
.comment-box {
  width: 40vw;
  background-color: #FFF;
  min-width: 1200px;
  padding: 0 15vw;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  width: 40vw;
  background-color: #FFF;
  margin: 5vh 0;
  text-align: center;
}

.comment-content {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #4B1D00;
  resize: none;
}

.comment-warn {
  font-size: 14px;
  margin: 10px 0px;
}

.comment-btn {
  line-height: 48px;
  background-color: #4B1D00;
  border: 1px solid #4B1D00;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.comment{
  width: 100%;
  font-size: 16px;
  display: flex;
  padding: 10px 30px;
  background-color: #FFF;
  border: 1px solid #fff;
  border-radius: 5px;
}

.comment p{
   margin: 0;
}

.user-info{
  font-size: 20px;
  color: #4B1D00;
  font-weight: bold;
}

.comment-info{
  font-size: 16px;
  padding-top: 3px;
}

/* /コメント機能 */

.space{
  height: 50px;
}